<h1 class="note">
  <a href="<%= App.base_url %>" class="notes_back_link">
    <%= partial "../home/back_button" %>
  </a>
  Note
</h1>

<%= partial "note", :locals => { :note => @note, :dedicated => true } %>

<h1 class="note">
  <%= @note.like_count %> Like<%= @note.like_count == 1 ? "" : "s" %>
</h1>

<% @note.likes.each do |like| %>
  <%= partial "../home/contact", :locals => { :contact => like.contact } %>
<% end %>
