<%= partial "../home/header" %>

<h2><%= h @title %></h2>

<% if @page > 1 %>
  <%= partial "../home/page_links", :locals => { :klass => "top" } %>
<% end %>

<% @items.each do |f_or_f| %>
  <%= partial "../home/contact", :locals => { :contact => f_or_f.contact,
    :show_notes_link => (f_or_f.is_a?(Following)) } %>
<% end %>

<%= partial "../home/page_links" %>
