<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @title ? "#{@title} - " : "" %><%= App.site_title %></title>
  <%= stylesheet_tag "notes.css" %>
</head>
<body>
  <div id="sitewrapper">
    <nav>
      <h2>
        <a rel="author" href="/"><%= App.site_title %></a>
      </h2>
    </nav>
    <main>
      <%= yield %>
    </main>
    <footer>
      Copyright &copy; 2001-<%= Time.now.year %>
      <a href="/"><%= @user.realname %></a>.
      All rights reserved.
    </footer>
  </div>
</body>
</html>
